@charset "utf-8";
/* CSS Document */

* {
  margin: 0;
}




ul.topnav {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #DB90D8;
	align-items:center;
	text-align:center;

	
}




ul.topnav li {display:inline;}


ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
	
}


ul.topnav li a:hover {background-color: #E471B8;}

#parrafo{
	margin:auto;
	text-align:center;
	
		
}

#intro {
	position:relative;
}

#intro h1{
	text-align:center;
	margin-top:30px;
	
}


